
.icon-gplus:before { content: '\e800'; } /* '' */
.icon-work:before { content: '\e801'; } /* '' */
.icon-blog:before { content: '\e802'; } /* '' */
.icon-contact:before { content: '\e803'; } /* '' */
.icon-about:before { content: '\e804'; } /* '' */
.icon-git:before { content: '\e805'; } /* '' */
.icon-pinterest:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\e807'; } /* '' */
.icon-dribble:before { content: '\e808'; } /* '' */
.icon-linkedin:before { content: '\e809'; } /* '' */
.icon-behance:before { content: '\e80a'; } /* '' */
.icon-twitter:before { content: '\e80b'; } /* '' */
.icon-home:before { content: '\e80c'; } /* '' */